.bro{
    color: darkred;
}
h1{
    color: crimson ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color:aqua ;
}
.pass{
    color: darkred;
}